*{
  margin:0;
  padding:0;

}


li{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

ul{
  border: 3px solid red;
 
 
} 

button{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor:pointer;
}

form{
  outline: 3px solid green;
  max-width: 30%;
  min-width: 300px;

  display: grid;
 
}

form input{
  grid-column: 2/3;
}

form label {
  grid-column: 1/2;

}
form input[type="submit"]{
  margin-top: 0.5rem;
}

