*{
  margin:0;
  padding:0;

}


li{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

ul{
  border: 3px solid red;
 
 
} 

button{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor:pointer;
}

